In [1]:
# Data Imports
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
# Math
import math
# Plot imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
# Machine Learning Imports
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
# For evaluating our ML results
from sklearn import metrics
# Dataset Import
import statsmodels.api as sm

C:\Users\Gariz\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Gariz\Anaconda2\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [27]:
df = pd.read_stata('nels_small.dta')

In [28]:
df.head(5)

   psechoice  hscath  grades  faminc  famsiz  parcoll  female  black
0          2       0    9.08    62.5       5        0       0      0
1          2       0    8.31    42.5       4        0       1      0
2          3       0    7.42    62.5       4        0       1      0
3          3       0    7.42    62.5       4        0       1      0
4          3       0    7.42    62.5       4        0       1      0

In [29]:
df.tail()

     psechoice  hscath  grades  faminc  famsiz  parcoll  female  black
995          2       0    8.13    62.5       4        0       0      0
996          3       0    5.28    87.5       6        0       1      0
997          1       0    7.54    30.0       5        0       1      0
998          3       0    3.64    42.5       5        0       1      0
999          3       0    3.64    42.5       5        0       1      0

In [30]:
def choice(x):
    if x ==2 :
        return 1
    elif x ==3:
        return 1
    else:
        return 0

In [31]:
df['college'] = df['psechoice'].apply(choice)
df.head()

   psechoice  hscath  grades  faminc  famsiz  parcoll  female  black  college
0          2       0    9.08    62.5       5        0       0      0        1
1          2       0    8.31    42.5       4        0       1      0        1
2          3       0    7.42    62.5       4        0       1      0        1
3          3       0    7.42    62.5       4        0       1      0        1
4          3       0    7.42    62.5       4        0       1      0        1

In [32]:
df.tail()

,psechoice,hscath,grades,faminc,famsiz,parcoll,female,black,college
995,2,0,8.13,62.5,4,0,0,0,1
996,3,0,5.28,87.5,6,0,1,0,1
997,1,0,7.54,30.0,5,0,1,0,0
998,3,0,3.64,42.5,5,0,1,0,1
999,3,0,3.64,42.5,5,0,1,0,1

In [33]:
df.groupby('college').mean()

,psechoice,hscath,grades,faminc,famsiz,parcoll,female,black
college,,,,,,,,
0,1.000000,0.000000,8.235495,37.118244,4.265766,0.103604,0.423423,0.054054
1,2.677378,0.024422,6.043843,55.466904,4.188946,0.366324,0.516710,0.056555

In [34]:
df.describe()

,psechoice,hscath,grades,faminc,famsiz,parcoll,female,black,college
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.305000,0.019000,6.530390,51.393501,4.206000,0.308000,0.496000,0.056000,0.778000
std,0.810328,0.136593,2.265855,40.165859,1.291988,0.461898,0.500234,0.230037,0.415799
min,1.000000,0.000000,1.740000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,4.912500,30.000000,3.000000,0.000000,0.000000,0.000000,1.000000
50%,3.000000,0.000000,6.640000,42.500000,4.000000,0.000000,0.000000,0.000000,1.000000
75%,3.000000,0.000000,8.240000,62.500000,5.000000,1.000000,1.000000,0.000000,1.000000
max,3.000000,1.000000,12.330000,250.000000,10.000000,1.000000,1.000000,1.000000,1.000000

In [35]:
# the mean of column college shows the percentage of the high school graduates that attended college
precentage = 77.8

# b)

In [17]:
X = df.drop(['college','psechoice'],axis=1)
X.head()

   hscath  grades  faminc  famsiz  parcoll  female  black
0       0    9.08    62.5       5        0       0      0
1       0    8.31    42.5       4        0       1      0
2       0    7.42    62.5       4        0       1      0
3       0    7.42    62.5       4        0       1      0
4       0    7.42    62.5       4        0       1      0

In [18]:
Y = df.college

In [19]:
log_model = LogisticRegression()

log_model.fit(X,Y)

log_model.score(X,Y)

0.80100000000000005

In [20]:
logit = sm.Logit(Y,X)

In [21]:
result = logit.fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.458458
         Iterations: 35

C:\Users\TEMP.AUAAD.021\AppData\Local\Continuum\Anaconda3\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [22]:
print (result.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                college   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      993
Method:                           MLE   Df Model:                            6
Date:                Thu, 17 May 2018   Pseudo R-squ.:                  0.1340
Time:                        14:36:54   Log-Likelihood:                -458.46
converged:                      False   LL-Null:                       -529.43
                                        LLR p-value:                 3.906e-28
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
hscath        17.9259   4546.939      0.004      0.997     -8893.911  8929.763
grades        -0.1960      0.030     -6.608      0.000        -0.254    -0.138
faminc         0.0210      0.004      5.289      0.000         0.013     0.029
famsiz         0.2543      0.055      4.606      0.000         0.146     0.362
parcoll        1.1135      0.251      4.432      0.000         0.621     1.606
female         0.5498      0.159      3.466      0.001         0.239     0.861
black          0.9178      0.366      2.510      0.012         0.201     1.635
==============================================================================

In [23]:
print (np.exp(result.params))

hscath     6.097317e+07
grades     8.220349e-01
faminc     1.021227e+00
famsiz     1.289508e+00
parcoll    3.045015e+00
female     1.732858e+00
black      2.503877e+00
dtype: float64

# c)

In [11]:
#y = -0.19grade+0.02faminc+0.25famsize+1.11parcoll+0.54*female+0.91*black

In [48]:
y1 = -0.19*5+0.02*55.46+0.25*5+1.11*1+0.54*1+0.91*1
y1

3.9692000000000003

In [49]:
# Probability for y1
P1 = 1/(1+2.7**y1)
P1

0.019032058414562545

In [50]:
y2 = -0.19*10+0.02*55.46+0.25*5+1.11*1+0.54*1+0.91*1
y2

3.0192000000000005

In [51]:
#Probability for y2
P2 = 1/(1+2.7**y2)
P2

0.04747894993212524

# d)

In [52]:
#i 
y3 = -0.19*5+0.02*55.46+0.25*5+1.11*1+0.54*1+0.91*0
y3

3.0592

In [53]:
#Probability for ii
P3 = 1/(1+2.7**y3)
P3

0.0457141307055497

In [54]:
#ii
y4 = -0.19*5+0.02*55.46+0.25*5+1.11*1+0.54*0+0.91*0
y4

2.5192

In [55]:
#Probability for ii
P4 = 1/(1+2.7**y4)
P4

0.07570410502160599

# e)

In [37]:
X1 = df.drop(['parcoll','black', 'female','hscath', 'psechoice', 'college'],axis=1)
X1.head()

   grades  faminc  famsiz
0    9.08    62.5       5
1    8.31    42.5       4
2    7.42    62.5       4
3    7.42    62.5       4
4    7.42    62.5       4

In [38]:
Y1 = df.college

In [39]:
log_model = LogisticRegression()

log_model.fit(X1,Y1)

log_model.score(X1,Y1)

0.79600000000000004

In [40]:
logit1 = sm.Logit(Y1,X1)

In [41]:
result = logit1.fit()

Optimization terminated successfully.
         Current function value: 0.482674
         Iterations 7

In [42]:
print (result.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                college   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      997
Method:                           MLE   Df Model:                            2
Date:                Fri, 18 May 2018   Pseudo R-squ.:                 0.08831
Time:                        10:47:47   Log-Likelihood:                -482.67
converged:                       True   LL-Null:                       -529.43
                                        LLR p-value:                 4.958e-21
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
grades        -0.1865      0.028     -6.693      0.000      -0.241      -0.132
faminc         0.0281      0.004      7.715      0.000       0.021       0.035
famsiz         0.2925      0.053      5.521      0.000       0.189       0.396
==============================================================================

In [43]:
print (np.exp(result.params))

grades    0.829884
faminc    1.028514
famsiz    1.339810
dtype: float64

In [ ]:
#The Pseudo R square of the second model has decreased from 0,1 to 0.08, which means that the first model is better  
#the impact of faminc and famsiz have slightly increased